# Toolchain
toolchain/build
toolchain/binutils-gdb
toolchain/edk2
toolchain/gcc
toolchain/posix-uefi

qemu-fs/NvVars
qemu-fs/bootloader.efi
qemu-fs/kernel.efi
qemu-fs/drive.img
qemu-fs/Makefile

# Clang
.cache
compile_commands.json

# Build files
build
*.elf
*.efi
*.o
